  html,body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
  }

  body {
    background-color:#FFF;
    overflow:hidden;
    font-family:Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  }

  #header {
    border:solid 1px #A8A8A8;
    overflow:hidden;
    background-color:#999;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#C0C0C0));
    background: -moz-linear-gradient(top,  #fff,  #C0C0C0);
    height:65px;
    margin: 5px 5px;
  }

  .roundedCorners {
    -o-border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
  }

  .shadow {
    -webkit-box-shadow:4px 4px 8px #adadad;
    -moz-box-shadow:4px 4px 8px #adadad;
    -o-box-shadow:4px 4px 8px #adadad;
    box-shadow:4px 4px 8px #adadad;
  }
  #leftPane{
    background-color:white;
    border:none;
    margin:0px; 
    width:220pt;
    color: #565A5C;
  }
  #map {
    background-color:#FFF;
    border:none;
    margin:0px;
    padding:0;
  }
  .esriLegendServiceLabel{
    display:none;    
  }

.logo-usaid {
  display: none; /* inline-block; */
  vertical-align: bottom;
  width: 189px;
  height: 59px;
  z-index: 30;
  background-image: url("usaid_logo.png");
  cursor: pointer;
}

  .nihilo .dijitDialogTitleBar {
    background-color: #003359;
    color: white;
    margin: 0;
    padding: 2pt;
    font-weight: bold;
    background-image: none;
  }
  .nihilo .dijitDialog .dijitDialogTitle {
    color: white;
    font-weight: bold;
  }
  .nihilo .dijitDialog {
    border: none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
  }
.nihilo .dijitMenuItem {
  margin: 0;
  font-size: 8pt;
  color: #565A5C;
}
.nihilo .dijitMenuItem:hover {
  font-size: 8pt;
  background-color: #CECFCB
}


  .filterHead{
    padding-left: 12pt;
    padding-right: 24pt;
  }
  .prType_input{
    font-size: 9pt;
    font-weight: normal;
    color: #565A5C;
  }
  .prType_input>div{
    margin-left: 10pt;
    width: 250pt;
  }
  .prType_cntLabel{
    font-size: 8pt;
    font-weight: normal;
    color: #565A5C;
    margin-top: 10pt    
  }
  .filterBox{
    height: 200pt;
    overflow: auto;
  }
  .filter-select-all{
    display: block;
    float: right;
    cursor: pointer;
    color: #565A5C;
  }
  .filter-select-all:hover{
    color: #565A5C; 
    text-decoration: underline;   
  }
  .list-group-item{
    color: #CECFCB;
    cursor: pointer;
  }
  .list-group-item.selected{
    color: #565A5C;
  }
  .filterItemIcon{
    display: block;
    float: right;
    visibility: hidden;
  }
  .filterItemIcon.selected{
    visibility: visible;
  }

  .filterHeadIcon{
    display: block;
    float: right;
  }

  .projectListContainer{
    width: 400pt;
    height: 200pt;
    overflow: auto;
  }

  .projectListItem{
    width: 90pt;
    height: 50pt;
    display: block;
    float: left;
    font-size: 8pt;
    color: #565A5C;
    margin: 2px;
    padding: 2px;
    background-color: #CECFCB;
    overflow-y: hidden;
    white-space: pre-wrap;
    border-radius: 0px;
    border-style: none;
  }
  .projectListItem:hover{
    color: #CECFCB;
    background-color: #003359;
  }
  .total_counts{
    font-size: 9pt
  }
  .detailsContainer{
    display: none;
    position: absolute;
    top:25pt;
    left:0px;
    width:100%;
    height:90%;
    background-color: white;
    overflow-x:auto;
    padding: 5pt;
  }
  .prDetails{
    font-size: 9pt;
    padding: 4pt;
  }
  .prDetails.title{
    font-weight: bold;
  }
  .prDetails.label{
    display: block;
    float: left;
    width: 30%;
    color: #565A5C;
    text-align: right;
  }
  .prDetails.value{
    display: block;
    float: left;
    clear: right;
    width: 65%;
    color: #565A5C;
    text-align: left;
  }  

#projects_layer path{

    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-opacity: 0.5;
    fill-opacity: 0.5;

    fill: #ffd700;
    stroke: #ffd700;
    stroke-width: 12pt;  
}
#projects_layer path:hover{

    stroke-opacity: 1;
    fill-opacity: 1;

    fill: #ffd700;
    stroke: #ffd700;
    stroke-width: 16pt;  
}

#workingDiv{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(255, 255, 255, 0.6);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99dddddd,endColorstr=#  99dddddd);
  text-align: center;
  font-size: 64pt;
  color: #565A5C;
}
#workingDiv>div{
  position: absolute;
  top: 40%;
  left: 30%;
}
